<div class="hero-unit">
  <form id="book-form" class="form-horizontal" action="/books/<%= params.id %>?_method=PUT" method="POST">
    <fieldset>
      <legend>Editar Libro</legend>
      <% if(params.errors) { %>
      <div class="control-group">
        <ul>
        <% for(var err in params.errors) { %>
          <li><%= params.errors[err]; %></li>
        <% } %>
        </ul>
      </div>
      <% } %>

      <%- partial('form', {book: book}) %>

      <div class="form-actions">
        <%- contentTag('input', 'Guardar', {type: 'submit', class: 'btn btn-primary'}) %>
        <%- contentTag('button', 'Eliminar', {type: 'submit', formaction: '/books/' + params.id + '?_method=DELETE', formmethod: 'POST', class: 'btn btn-danger'}) %>
        <%- linkTo('Cancelar', bookPath(''), {class: 'btn pull-right'}); %>
      </div>
    </fieldset>
  </form>
</div>
